*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/* .div{
    height: 300px;
    width: 300px;
    background-color: aqua;
    border: 20px solid green;
} */

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: brown;
    gap: 20px;
    font-size: 50px;
}

.btn{
    height: 100px;
    width: 150px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: cornflowerblue;
    margin: 20px;
    font-size: 50px;
    font-weight: 700;
}